/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body {
    min-height: 100vh;
}

.gameboard {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    margin: 50px auto;
}

.gamegrid {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.gamegrid:nth-child(-n+3) {
    border-top: none;
}

.gamegrid:nth-child(n+7):nth-child(-n+9) {
    border-bottom: none;
}

.gamegrid:nth-child(3n+1) {
    border-left:none ;
}

.gamegrid:nth-child(3n+3) {
    border-right: none;
}

